flows.json
[
    {
        "id": "86843e11299320fd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b12623b00ed1f618",
        "type": "tab",
        "label": "mongodb",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "155186891e179bae",
        "type": "mongodb",
        "hostname": "mongodb",
        "port": "27017",
        "db": "log",
        "name": ""
    },
    {
        "id": "37edf9541afba29c",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Common Axis Mongo",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "07ba2f21e7ad6d16",
        "type": "inject",
        "z": "b12623b00ed1f618",
        "name": "List",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "b7c3318db1f626a8"
            ]
        ]
    },
    {
        "id": "cb906631e893f05f",
        "type": "debug",
        "z": "b12623b00ed1f618",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "30ec458eeb495dbe",
        "type": "inject",
        "z": "b12623b00ed1f618",
        "name": "Insert 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "6eed5339d49e333a"
            ]
        ]
    },
    {
        "id": "6eed5339d49e333a",
        "type": "function",
        "z": "b12623b00ed1f618",
        "name": "data",
        "func": "msg.payload = {\n    name: \"John\",\n    age: 30,\n    single: true,\n    address: \"123 Highway\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "ebda1794d3ad6621"
            ]
        ]
    },
    {
        "id": "1f60bced827f345d",
        "type": "inject",
        "z": "b12623b00ed1f618",
        "name": "Remove all data in test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 280,
        "wires": [
            [
                "452dd53fb57d6bc9"
            ]
        ]
    },
    {
        "id": "452dd53fb57d6bc9",
        "type": "function",
        "z": "b12623b00ed1f618",
        "name": "All",
        "func": "msg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 280,
        "wires": [
            [
                "265f21e744a5a39a"
            ]
        ]
    },
    {
        "id": "dc7c47938e4f2bec",
        "type": "inject",
        "z": "b12623b00ed1f618",
        "name": "Insert 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "ad9008589d9bec2f"
            ]
        ]
    },
    {
        "id": "ad9008589d9bec2f",
        "type": "function",
        "z": "b12623b00ed1f618",
        "name": "data",
        "func": "msg.payload = {\n    name: \"Sally\",\n    age: 45,\n    single: false,\n    address: \"456 Some Rd.\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 220,
        "wires": [
            [
                "ebda1794d3ad6621"
            ]
        ]
    },
    {
        "id": "ebda1794d3ad6621",
        "type": "mongodb out",
        "z": "b12623b00ed1f618",
        "mongodb": "155186891e179bae",
        "name": "",
        "collection": "test",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "265f21e744a5a39a",
        "type": "mongodb out",
        "z": "b12623b00ed1f618",
        "mongodb": "155186891e179bae",
        "name": "",
        "collection": "test",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "b7c3318db1f626a8",
        "type": "mongodb in",
        "z": "b12623b00ed1f618",
        "mongodb": "155186891e179bae",
        "name": "",
        "collection": "test",
        "operation": "aggregate",
        "x": 530,
        "y": 120,
        "wires": [
            [
                "cb906631e893f05f"
            ]
        ]
    }
]